#Q5

In [1]:
import pandas as pd 
import numpy as np  
from statsmodels.multivariate.manova import MANOVA

In [2]:
df = pd.read_csv(r"E:\course\Ë≥áÊñôÂàÜÊûê\Homework\HW4\turtle3.csv") 
df.columns = df.columns.str.strip() 
#log transformation
df.iloc[:,1:] =  np.log(df.iloc[:,1:]) 
print(df)

    Gender  Length (ùíôùüè)  Width (ùíôùüê)  Height (ùíôùüë)
0        0     4.584967    4.394449     3.637586
1        0     4.634729    4.430817     3.637586
2        0     4.634729    4.454347     3.737670
3        0     4.653960    4.454347     3.737670
4        0     4.691348    4.477337     3.784190
5        0     4.812184    4.521789     3.912023
6        0     4.812184    4.553877     3.828641
7        0     4.890349    4.595120     3.931826
8        0     4.890349    4.624973     3.931826
9        0     4.890349    4.624973     3.931826
10       0     4.897840    4.605170     3.871201
11       0     4.912655    4.624973     3.891820
12       0     4.927254    4.584967     3.931826
13       0     4.927254    4.595120     3.931826
14       0     4.948760    4.653960     3.970292
15       0     4.990433    4.682131     4.043051
16       0     5.003946    4.672829     4.007333
17       0     5.030438    4.672829     4.025352
18       0     5.043425    4.744932     4.143135
19       0     5.043425    4.762174     4.094345
20       0     5.062595    4.744932     4.127134
21       0     5.068904    4.770685     4.143135
22       0     5.087596    4.820282     4.110874
23       0     5.176150    4.882802     4.204693
24       1     4.532599    4.304065     3.610918
25       1     4.543295    4.356709     3.555348
26       1     4.564348    4.382027     3.555348
27       1     4.615121    4.430817     3.663562
28       1     4.624973    4.442651     3.637586
29       1     4.634729    4.394449     3.610918
30       1     4.644391    4.418841     3.663562
31       1     4.663439    4.418841     3.663562
32       1     4.672829    4.406719     3.637586
33       1     4.718499    4.488636     3.688879
34       1     4.727388    4.477337     3.688879
35       1     4.736198    4.454347     3.688879
36       1     4.753590    4.499810     3.761200
37       1     4.762174    4.499810     3.713572
38       1     4.762174    4.510860     3.713572
39       1     4.779123    4.532599     3.713572
40       1     4.787492    4.488636     3.688879
41       1     4.787492    4.532599     3.784190
42       1     4.795791    4.553877     3.737670
43       1     4.828314    4.532599     3.806662
44       1     4.844187    4.564348     3.806662
45       1     4.852030    4.553877     3.806662
46       1     4.875197    4.553877     3.828641
47       1     4.905275    4.663439     3.850148

In [3]:
maov = MANOVA(endog=df.iloc[:,1:], exog=df["Gender"]) 
print(maov.mv_test())

                 Multivariate linear model
============================================================

------------------------------------------------------------
           x0           Value  Num DF  Den DF F Value Pr > F
------------------------------------------------------------
          Wilks' lambda 0.1765 3.0000 45.0000 69.9917 0.0000
         Pillai's trace 0.8235 3.0000 45.0000 69.9917 0.0000
 Hotelling-Lawley trace 4.6661 3.0000 45.0000 69.9917 0.0000
    Roy's greatest root 4.6661 3.0000 45.0000 69.9917 0.0000
============================================================

6(b)

In [4]:
d = pd.read_csv(r'E:\course\Ë≥áÊñôÂàÜÊûê\Homework\HW4\seedling.csv')
from statsmodels.formula.api import ols
import statsmodels.api as sm
GREEN = ols('GREEN ~ Species + Nutrient', data = d).fit()
anova_GREEN = sm.stats.anova_lm(GREEN)
anova_GREEN
INFRA = ols('INFRA ~ Species + Nutrient', data = d).fit()
anova_INFRA= sm.stats.anova_lm(INFRA)
anova_INFRA

           df      sum_sq     mean_sq          F    PR(>F)
Species   2.0  262.238633  131.119317  28.819649  0.033535
Nutrient  1.0    4.489350    4.489350   0.986746  0.425217
Residual  2.0    9.099300    4.549650        NaN       NaN